# Node dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env

# SQLite database file
*.sqlite
*.sqlite-journal

# OS-specific files
.DS_Store
Thumbs.db